<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Folder</title>
</head>
<body>

<div th:if="${wrongPath}">
  <h2>Wrong path!</h2>
  <p th:text="'Folder \'' + ${wrongPath} + '\' not exists :('"></p>
  <br>
  <a th:href="@{/}">Go home</a>
</div>

<div th:unless="${wrongPath}">
  <div>
    <span><a th:href="@{/}">root</a></span>
    <span th:each="entry : ${breadcrumbs}" th:with="folderName=${entry.key}, path=${entry.value}">
    / <a th:href="@{'/?path=' + ${path}}" th:text="${folderName}"></a>
  </span>
  </div>

  <br>

  <ul>
    <li th:each="entry : ${objects}" th:with="objectName=${entry.key},objectPath=${entry.value}">
      <a th:if="${objectPath}" th:href="@{'/?path=' + ${objectPath}}" th:text="${objectName}"></a>
      <span th:unless="${objectPath}" th:text="${objectName}"></span>
    </li>
  </ul>
</div>
</body>
</html>