<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log in</title>
</head>
<body>
<form method="POST" th:action="@{/login/process}">
  <label for="name">Enter username: </label>
  <input type="text" id="name" name="username">
  <br>
  <label for="pass">Enter password: </label>
  <input type="password" id="pass" name="password">
  <br>
  <input type="submit" value="Log in">
  <p th:if="${param.error}" style="color: red">
    Wrong login or password
  </p>
</form>
<br>
<a th:href="@{/signup}">Sign up</a>
</body>
</html>