<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Folder</title>
</head>
<body>

<div th:if="${wrongPath}">
  <h2>Wrong path!</h2>
  <p th:text="'Folder \'' + ${wrongPath} + '\' not exists :('"></p>
  <a th:href="@{/}">Go home</a>
</div>

<div th:unless="${wrongPath}">
  <div th:insert="~{fragments::breadcrumbs (${breadcrumbs})}"></div>

  <div th:if="${param.path}">
    <br>
    <p><a th:href="@{/folder/rename(path=${param.path})}">Rename</a> or <a th:href="@{/folder/move(path=${param.path})}">move</a> current folder</p>
  </div>
  <div>
    <br>
    <form th:method="DELETE" th:action="@{/(path=${param.path})}">
      <input type="submit" value="Delete this folder">
    </form>
  </div>

  <br>
  <form method="POST" th:action="@{/}" th:object="${folderCreationDto}">
    <input type="hidden" name="prefix" th:value="${param.path}">
    <label for="postfix">Enter new folder path: </label>
    <input id="postfix" type="text" th:field="*{postfix}">
    <input type="submit" value="create">
    <span style="color: red" th:if="${#fields.hasErrors('postfix')}" th:errors="*{postfix}"></span>
  </form>

  <br>
  <ul>
    <li th:each="entry : ${objects}" th:with="name=${entry.key},path=${entry.value}">
      <span th:if="${path.isEmpty()}" th:text="${name}"></span>
      <a th:unless="${path.isEmpty()}" th:href="@{/(path=${path})}" th:text="${name}"></a>
    </li>
  </ul>
</div>
</body>
</html>