<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Folder</title>
</head>
<body>

<div th:if="${wrongPath}">
  <h2>Wrong path!</h2>
  <p th:text="'Folder \'' + ${wrongPath} + '\' not exists :('"></p>
  <a th:href="@{/}">Go home</a>
</div>

<div th:unless="${wrongPath}">
  <div th:insert="~{fragments::breadcrumbs (${breadcrumbs})}"></div>

  <div th:if="${param.path}">
    <br>
    <p><a th:href="@{/rename(path=${param.path})}">Rename</a> or <a th:href="@{/move(path=${param.path})}">move</a> current folder</p>
  </div>
  <div th:if="${param.path}">
    <br>
    <form th:method="DELETE" th:action="@{/}">
      <input type="hidden" name="path" th:value="${param.path}">
      <input type="submit" value="Delete this folder">
    </form>
  </div>

  <br>
  <form method="POST" th:action="@{/}" th:object="${folderCreationDto}">
    <input type="hidden" name="parentFolderPath" th:value="${param.path}">
    <label for="name">Enter new folder name: </label>
    <input id="name" type="text" th:field="*{newFolderName}">
    <input type="submit" value="create">
    <span style="color: red" th:if="${#fields.hasErrors('newFolderName')}" th:errors="*{newFolderName}"></span>
  </form>

  <br>
  <ul>
    <li th:each="obj : ${objects}" th:with="url= '/' + (${obj.folder} ? '' : 'file')">
      <a th:href="@{${url}(path=${obj.path})}" th:text="${obj.name}"></a>
    </li>
  </ul>

  <br>
  <a th:href="@{/file/upload(path=${param.path})}">Upload file</a>
  <br>
  <a th:href="@{/upload(path=${param.path})}">Upload folder</a>
</div>
</body>
</html>