<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rename folder</title>
</head>
<body>
<div th:insert="~{fragments::breadcrumbs (${breadcrumbs})}"></div>

<form th:method="PUT" th:action="@{/folder/rename}" th:object="${objectRenameDto}">
  <input type="hidden" th:name="objectPath" th:value="${param.path}">

  <label for="name">Enter new folder name: </label>
  <input id="name" type="text" th:field="*{newName}">
  <span style="color: red" th:if="${#fields.hasErrors('newName')}" th:errors="*{newName}"></span>

  <br>
  <input type="submit" value="Rename">
</form>
</body>
</html>