<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File info</title>
</head>
<body>
<div th:insert="~{fragments::breadcrumbs (${breadcrumbs})}"></div>

<div>
  <br>
  <p><a th:href="@{/file/rename(path=${param.path})}">Rename</a> or <a th:href="@{/file/move(path=${param.path})}">move</a> this file</p>
</div>

<div>
  <br>
  <form th:method="DELETE" th:action="@{/file}">
    <input type="hidden" name="path" th:value="${param.path}">
    <input type="submit" value="Delete this file">
  </form>
</div>

<p th:text="'File name: ' + ${fileInfo.name}"></p>
<p th:text="'File size: ' + ${fileInfo.size}"></p>
<p th:text="'Created at: ' + ${fileInfo.createdAt}"></p>

<br>
<a th:href="@{/file/download(path=${param.path})}">Download</a>
</body>
</html>