<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Move folder</title>
</head>
<body>
<div th:insert="~{fragments::breadcrumbs (${breadcrumbs})}"></div>

<form th:method="PUT" th:action="@{/file}" th:object="${objectMoveDto}">
  <label for="location">Choose new folder location: </label>
  <br>

  <select id="location" th:field="*{newObjectPath}">
    <option th:each="filePath : ${moveCandidates}" th:value="${filePath}" th:text="${filePath}"></option>
  </select>

  <input type="hidden" name="oldObjectPath" th:value="${param.path}">
  <span style="color: red" th:if="${#fields.hasErrors('newObjectPath')}" th:errors="*{newObjectPath}"></span>
  <br>
  <input type="submit" value="Move">
</form>
</body>
</html>