<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload file</title>
</head>
<body>
<div>
  <div th:insert="~{fragments::breadcrumbs (${breadcrumbs})}"></div>

  <form method="POST" th:action="@{/file/upload(path=${param.path})}" th:object="${fileUploadDto}" enctype="multipart/form-data">
    <input type="hidden" name="parentFolderPath" th:value="${param.path}">
    <label for="file">Upload file:</label>
    <br>
    <input id="file" type="file" th:field="*{file}">
    <br>
    <input type="submit" value="Upload">
    <br>
    <span style="color: red" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></span>
  </form>
</div>

</body>
</html>